@font-face {
    font-family: honey;
    src: url(../font/Honey\ and\ Raspberries.ttf);
  }
*{
    font-family: honey;
    box-sizing: border-box;
    color: #62472f;
}
.fcc{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: space-evenly;
    width: 100%;
    border-radius: 35px 35px 15px 15px;
}
input{
    width: 65%;
    height: 7vh;
    border-radius: 4px;
    background-color: #E87EA1;;
    border: 0;
    padding: 3%;
    font-size: 1rem;
}
input:focus {
    background-color: #FFE7AA;
    border: 0px;
    outline: none;
    transition: background-color 0.3s;
}
form{
    height: 90%;
    background-color: #EFE6DD;
}
body{
    background-color: #2D251E;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    padding: 1% 3% 1% 3%;
    height: 20vh;
    width: 100vw;
    text-align: center;
}
header > h1{
    color: #F2AB1C;
    font-family: honey;
    font-weight: normal;
    font-size: 5rem;
    margin: 0;
    margin-top: 3vh;
    margin-bottom: 3vh;
}
form button{
    padding: 3%;
    margin-top: 7%;
    border: 1px blue;
    border-radius: 8px;
    background-color: #F2AB1C;
    font-family: 'honey';
    color: #62472f;
    font-size: 2rem;
}
form > label{
    font-size: 125%;
    padding: 2%;
}
.hide{
    display: none;
}
.shadow{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
footer{
    padding: 1%;
    background-color: #efe6dd;
    width: 100%;
    height: 10vh;
    border-top: 5px solid #2d251e;
    display: flex;
    border-radius: 17px 17px 0px 0px;
}
footer img{
    width: 35%;
    filter: invert(25%) sepia(51%) saturate(392%) hue-rotate(347deg) brightness(98%) contrast(92%);

}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
footer div > p{
    margin: 0;
    font-size: medium;
    font-size: 13px;
}